%header-text-decor {
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__container {
  position: relative;
  @include display-flex(space-between);
}

.header__list,
.header-contact {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  @extend %logo-text-decor;

  display: block;

  &--header {
    padding: 16px 0;
  }

  &__half {
    color: $logo-header-color;
  }
}
