.examples-section {
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.examples-section__title {
  @include text-decor(700, 36px, 1.17, 0.03em, $title-color);
  text-align: center;
  margin-bottom: 50px;
}

.examples-list {
  @extend %list;
  @include display-flex(center);
  margin-right: -30px;
  &__visual {
    position: relative;
  }
  &__title {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    @include text-decor(700, 14px, 1.14, 0.03em, $accent-color);

    text-transform: uppercase;
    background-color: $examples-titel-bcg-color;
  }
}

.examples-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}

.examples-list__link {
  @extend %link;
}
