.hiro-section {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;

  background-color: $hiro-footer-bcg-color;
  background-image: linear-gradient($hiro-gradient-color, $hiro-gradient-color),
    url('../images/hiro-mobile-480.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient($hiro-gradient-color, $hiro-gradient-color),
      url('../images/hiro-mobile-960.jpg');
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;

    background-image: linear-gradient($hiro-gradient-color, $hiro-gradient-color),
      url('../images/tablet-hiro-768.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient($hiro-gradient-color, $hiro-gradient-color),
        url('../images/tablet-hiro-1536.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient($hiro-gradient-color, $hiro-gradient-color),
      url('../images/hiro-1600.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient($hiro-gradient-color, $hiro-gradient-color),
        url('../images/hiro-3200.jpg');
    }
  }
}

.hiro-section__title {
  @include text-decor(900, 26px, 1.6, 0.06em, $accent-color);

  text-transform: uppercase;

  max-width: 360px;

  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  @media screen and(min-width:1200px) {
    @include text-decor(900, 44px, 1.36, 0.06em, $accent-color);
    max-width: 696px;
  }
}

.hiro-section__button {
  @include button(10px, 32px);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $btn-hover-color;
  }
}
