.ourteam-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $team-section-bcg-color;
}

.ourteam-section__title {
  @include text-decor(700, 28px, 1.17, 0.03em, $title-color);

  margin-bottom: 30px;
  text-align: center;
}

.team-list {
  @extend %list;

  @media screen and (min-width: 768px) {
    @include display-flex(center);
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.team-list__item {
  box-shadow: $ourteam-cards-shadow;
  border-radius: 0px 0px 4px 4px;
  background: $accent-color;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.team-list__person {
  padding-top: 30px;
  padding-bottom: 24px;

  text-align: center;
}

.team-list__title {
  @include text-decor(500, 16px, 1.19, 0.03em, $title-color);

  text-align: center;

  margin-bottom: 10px;
}

.team-list__text {
  @include text-decor(400, 16px, 1.19, 0.03em, $text-color);
  margin-bottom: 16px;

  text-align: center;
}

.social {
  @extend %list;
  @include display-flex(center);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  @include display-flex(center);
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: $team-socialLinks-color;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $hover-color;
  }
}

.social__icon {
  fill: currentColor;
}
