@mixin text-decor($font-weight, $font-size, $line-height, $letter-spacing, $color) {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $color;
}

@mixin display-flex($justify-content) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}

@mixin button($height, $width) {
  padding: $height $width;
  min-width: 200px;

  display: inline-flex;
  color: $accent-color;
  background-color: $btn-bcg-color;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  box-shadow: $btn-shadow;
  border-radius: 4px;
  border-width: 1px;

  cursor: pointer;
  border-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
