$nav-color: #212121;
$header-info-color: #757575;
$logo-color: #2196f3;
$logo-header-color: rgba(0, 0, 0, 1);
$logo-footer-color: rgba(255, 255, 255, 1);
$accent-color: #ffffff;
$btn-bcg-color: #2196f3;
$hiro-footer-bcg-color: #2f303a;
$hiro-gradient-color: rgba(47, 48, 58, 0.4);
$title-color: #212121;
$text-color: #757575;
$advantage-svg-color: #f5f4fa;
$examples-titel-bcg-color: rgba(47, 48, 58, 0.8);
$team-section-bcg-color: #f5f4fa;
$team-cards-bcg-color: #ffffff;
$team-socialLinks-color: #afb1b8;
$team-position-color: #757575;
$clients-logo-color: #afb1b8;
$footer-info-color: rgba(255, 255, 255, 0.6);
$footer-socialLinks-color: rgba(255, 255, 255, 0.1);
$hover-color: #2196f3;
$btn-hover-color: #188ce8;
$backdrop-color: rgba(0, 0, 0, 0.2);
$modal-main-color: #212121;
$modal-lable-color: #757575;
$modal-placeholder-color: rgba(117, 117, 117, 0.5);
$backdrop-color: rgba(0, 0, 0, 0.2);
$modal-btn-color: #000000;

//   shadows
$ourteam-cards-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$mobile-menu-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
  0px 1px 3px rgba(0, 0, 0, 0.16);

//   border
$footer-input-border: 1px solid rgba(255, 255, 255, 0.3);
$project-list-titles-border: 1px solid #eeeeee;
$order-form__btn: 1px solid rgba(0, 0, 0, 0.1);
$order-form-input: 1px solid rgba(33, 33, 33, 0.2);

// portfolio
$btn-nav-color: #212121;
$btn-nav-bcg-color: #f5f4fa;
$hidden-info-bcg-color: rgba(33, 150, 243, 0.9);
$btn-nav-hover-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$portfolio-cards-shadow-hover: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16); ;
